<header class="header">
  <div class="branding">
    <div class="branding-logo">
      <a href="/" class="logo">
        Wróć na stronę główną
      </a>
    </div>
    <div class="branding-text">

      <h1 class="branding-name">{{ if .IsPage}}<span class="page-title">{{ .Title | markdownify }}</span>{{end}}<span class="site-title">{{ .Site.Title}}</span></h1>

    </div>

  </div>
  <nav class="sidebar-nav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
</nav>

</header>
